@charset "UTF-8";
/* CSS Document */

.nav ul {
  background-color: #cccccc;
  padding: 20px;
  margin: 20px;
}
.nav li {
  float:center;
  font-family: 'Open Sans', sans-serif;
  display:inline;
  font-size: 1.2em;
  padding:inherit;  
}
 
.nav a {
  text-decoration: none;
  color: #fff;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
}

body {
	background-color: #1A1A1A;	
	font-size: 16px;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
}

.title{
	font-family: 'Open Sans', sans-serif;
}

.jumbotronindex{
	align:center;
	text-align: center;
    position: relative;
    background: #000 url("images/SubwayFloor.jpg") center center;
    width: auto;
    height: auto;
    background-size: cover;
    overflow: hidden;
	text-shadow: 2px 2px 1px #000000;
}

.jumbotronabout{
	align:center;
	text-align: center;
    position: relative;
    background: #000 url("images/FultonStreet.jpg") center center;
    width: auto;
    height: auto;
    background-size: cover;
    overflow: hidden;
	text-shadow: 2px 2px 1px #000000;
}

.jumbotronstories{
	align:center;
	text-align: center;
	position: relative;
    background: #000 url("images/SubwayFront.jpg") center center;
    width: auto;
    height: auto;
    background-size: cover;
    overflow: hidden;
	text-shadow: 2px 2px 1px #000000;
}

.jumbotroncontact{
	align:center;
	text-align: center;
    position: relative;
    background: #000 url("images/SubwayWoman.jpg") center center;
    width: auto;
    height: auto;
    background-size: cover;
    overflow: hidden;
	text-shadow: 2px 2px 1px #000000;
}

.stories{
	color:white;
	float:left;
	width:70%;
	padding:35px;
}

.halfsection1{
	color:white;
	float:left;
	width:50%;
	max-width:480px;
	max-height:240px;
	padding:35px;
}

.halfsection2{
	color:white;
	float:right;
	width:50%;
	max-width:480px;
	max-height:240px;
	padding:35px;
}

div {
  margin: 20px;
  padding: 20px;
}

.buttongojumbotron{
  text-decoration: none;
  text-align:center;
  background: #3498db;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  align:center;
}

.buttongojumbrotron:hover {
  text-decoration: none;
  background: #3cb0fd;
  text-align:center;
  align:center;
}

.buttongo{
  text-decoration: none;
  text-align:center;
  background: #3498db;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.buttongo:hover {
  text-decoration: none;
  text-align:center;
  background: #3cb0fd;
}

.buttongohalfsection{
  text-decoration: none;
  text-align:center;
  background: #CC3300;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.buttongo:hover {
  text-decoration: none;
  text-align:center;
  background: #FF4D4D;
}

a:link {
    color: #FFFFFF;
}

a:visited {
    color: #E60000;
}
